
#conexion
{
    dock:right ;
}
#desconectar{
    dock: bottom;
}    

RadioSet {
    border: rgb(192, 192, 192);
    layout: horizontal;
    width: 100%;
}

RichLog
{
    border: rgb(192, 192, 192); 
    /*height: 20%;*/
}

DataTable
{
    height: 40%;
    border: rgb(192, 192, 192);
}
datos{
    layout: vertical;
    align: center top;
    
}
container{
    border: rgb(192, 192, 192); 
}

TextArea {
    margin: 1; 
    border: rgb(192, 192, 192); 
}
Input{
     
    width: 50%;
    height: 3 ;
}

OptionList {
    height: 10%;
    border: rgb(192, 192, 192); 
}


#delete
{
    dock:left ;
}

/*
'%', 'fr', 'h', 'vh', 'vw', or 'w'
utilidad
dock:right;
#consultar{
    
    margin-right: 1;
    margin-bottom: 1;
    dock: right;

*/