ScrollableContainer {
  
    min-height: 0; /*creo que ni jala*/
}
conect{
    height: 5;
    align: center top;
    min-width: 50;
    padding: 1 ;
}
#conexion
{
    dock:left ;
}
#desconectar{
    dock:right ;
}
RadioSet {
    layout: horizontal;
    width: 100%;
}
RichLog
{
    border: rgb(192, 192, 192); 
}
#conexion,
#desconectar {
    margin-right: 1;
}
datos{
    layout: vertical;
    align: center top;
    
}
container{
    border: rgb(192, 192, 192); 
}

conect, datos{
    margin: 0; 
}
datos, consultas{
    margin: 1; 
}
TextArea {
    margin: 1; 
    border: rgb(192, 192, 192); 
}
Input{
     
    width: 50%;
    height: 3 ;
}

Log{
    height: 10%;
    border: rgb(192, 192, 192); 
}
OptionList {
    height: 10%;
    border: rgb(192, 192, 192); 
}
DataTable{
    height:30%;

}
/*
'%', 'fr', 'h', 'vh', 'vw', or 'w'
utilidad
dock:right;
#consultar{
    
    margin-right: 1;
    margin-bottom: 1;
    dock: right;

*/